__pycache__/
*.pyc
.env
.venv/
venv/
node_modules/
dist/
build/
*.log
*.sqlite
*.db
.DS_Store
src_old/
idea_git.md
src/__pycache__/
src/*.pyc
src/.dbcheck
src/.sqlite
src/.tmp-test
.git/


src/ui/node_modules
src/ui/.pnp
src/ui.pnp.js

# testing
src/ui/coverage

# next.js
src/ui/.next/
src/ui/out/

# production
/build

# misc
src/ui/.DS_Store
src/ui/*.pem

# debug
src/uinpm-debug.log*
src/ui/yarn-debug.log*
src/ui/yarn-error.log*

# local env files
src/ui/.env*.local
src/ui/.env

# vercel
src/ui/.vercel

# typescript
src/ui/*.tsbuildinfo
src/ui/next-env.d.ts